<section class="header">
<nav class="navbar sticky-top navbar-expand-lg "data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">SpotLight</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/spots">View Spots</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/spots/new">New Spot</a>
          </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item">
            <button class="nav-link" id="music">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-music-note-beamed" viewBox="0 0 16 16">
                  <path d="M6 13c0 1.105-1.12 2-2.5 2S1 14.105 1 13s1.12-2 2.5-2 2.5.896 2.5 2m9-2c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2"/>
                  <path fill-rule="evenodd" d="M14 11V2h1v9zM6 3v10H5V3z"/>
                  <path d="M5 2.905a1 1 0 0 1 .9-.995l8-.8a1 1 0 0 1 1.1.995V3L5 4z"/>
              </svg>
          </button>
          <script src="boilerplate"></script> 
                <% if(!currentUser) {%>
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                    <% } else {%>
                      
                        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                    <% } %>

                  
        
      </div>
    </div>
  </nav>
</section>